.controles-tabla-contenedor {
	-fx-background-color: linear-gradient(to bottom, -color-fondo, derive(-color-fondo, 20%));
	-fx-min-height: 120px;
	-fx-max-height: 120px;
}

.controles-tabla-boton {
	-fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-min-height: 120px;
	-fx-max-height: 120px;
	-fx-min-width: 120px;
}

.controles-tabla-boton:hover {
    -fx-background-color: derive(-color-fondo, 20%);
}

.controles-tabla-boton:pressed {
    -fx-background-color: derive(-color-fondo, 40%);
}